{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "importOrderSeparation": true,
  "importOrder": ["^.(.*)/pages/(.*)$", "^.(.*)/components/(.*)$", "^.(.*)/hooks/(.*)$", "^[./]"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}