@media (max-width: 768px) {
  .sider {
    position: absolute !important;
    z-index: 2;
    height: 100%;
  }
  .sider ul {
    height: 100%;
  }
  .menu-btn {
    font-size: 16px;
    width: 64px;
    height: 64px;
  }

  .menu-btn-right {
    position: absolute !important;
    z-index: 3;
    left: 200px;
  }
}
